@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

.main-container{
    background-color: #111010;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.welcome{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 0;
    color: #fff;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

.dash-row1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    height: 45%;
}

.row1-items{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to bottom, #222322, #1b1b1b);
    border-radius: 30px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;
    padding: 20px;
}